.backgr{
  background-color: #FFF796;
  scroll-margin-top: 65px;
}

.myfooter{
  background-color: saddlebrown;
}

.myfooter a{
  color: orangered;
}

.myfooter a:hover{
  color: yellow;
}

.text-shadow {
  text-shadow:
    2px 0 black,
    0 -2px black,
    -2px 2px black,
    0 1px black;
}

.text-size{
  font-size: 1.5vw;
}


@media (min-width: 577px) {
  .custom-lg-hd-size {
    font-size: 6vw;
    padding-left: 10%;
  }
}

@media (max-width: 576px) {
  .custom-sm-hd-size {
    font-size: 14vw;
    padding-left: 5%;
    padding-right: 7%;
  }
}

@media (min-width: 577px) {
  .custom-lg-text-size {
    font-family: Georgia;
    font-size: 1.5vw;
  }
}

@media (max-width: 576px) {
  .custom-sm-text-size {
    font-family: Georgia;
    font-size: 7vw;
  }
}

.navbar{
  background-color: rgba(255,255,255,0.7);
  backdrop-filter: blur(5px);
  font-weight: 550;
}

.flex-container {
  display: flex;
  align-items: center;
}

#callDogSign {
  transition: transform 0.5s;
}

#callDogSign:hover {
  transform: rotate(360deg);
}


#board {
  width: 238px; /* По 2px на границу */
  height: 238px; /* По 2px на границу */
  border: 2px solid purple;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
}

#board img {
  width: 100%;
  height: 100%;
  border: 0.5px solid lightblue;
}

#pieces {
  width: 238px; /* По 2px на границу */
  height: 80px;
  border: 2px solid purple;
  margin: 0 ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#pieces img {
  width: 79px;
  height: 79px;
  border: 0.5px solid lightblue;
}
