.intro-left{
  min-height: 100vh;
  background: url("https://avatars.mds.yandex.net/i?id=a9c4a649c44fe45361f93e9a305bd765_l-5222263-images-thumbs&n=13");
}

.intro-right{
  min-height: 100vh;
  background: linear-gradient(#FBE5C8, #fffaf7, #fff7f2, #ffede5);
}

.photo-row {
  height: 33vh;
  padding-left: 0;
  padding-right: 0;
}


.large-letters{
  /*padding-left: 10%;*/
  /*padding-right: 10%;*/
  /*padding-top: 20%;*/
  margin-bottom: 0;
  color: white;
  /*font-size: 6vw;*/
  text-shadow: 5px 0 5px #156760,
  0 5px 5px #156760,
  5px 0 5px #156760,
  0 5px 5px #156760;
  font-family: "Book Antiqua", sans-serif;
}

@media (min-width: 577px) {
  .custom-lg-size {
    font-size: 6vw;
    padding-left: 10%;
  }
}

@media (max-width: 576px) {
  .custom-sm-size {
    font-size: 14vw;
    padding-left: 5%;
    padding-right: 7%;
  }
}

@media (min-width: 577px) {
  .custom-second-lg-size {
    font-size: 2vw;
    padding-left: 10%;
  }
}

@media (max-width: 576px) {
  .custom-second-sm-size {
    font-size: 5vw;
    padding-left: 5%;
    padding-right: 7%;
  }
}

@media (min-width: 577px) {
  .custom-btn-lg-size {
    font-size: 2.5vw;
  }
}

@media (max-width: 576px) {
  .custom-btn-sm-size {
    font-size: 6vw;

  }
}

.small-letters{
  padding-top: 4%;
  /*padding-left: 10%;*/
  /*font-size: 2vw;*/
  color: #156760;
  text-shadow:
    0.5px 0 black,
    0 -0.5px black,
    -0.5px 0 black,
    0 0.5px black;
}

.heart {
  display: inline;
  width: 4vw;
  height: auto;
}

#hello-dog{
  padding-top: 4vh;
  transform: rotate(10deg);
}

#hello-rabbit{
  transform: rotate(-10deg);
}

#hello-cat{
  transform: rotate(5deg);
}

.try-button{
  color: #555555;
  background-color: white;
  font-family: "Calibri Light";
  border-color: #156760;
}

.navbar{
  background-color: rgba(255,255,255,0.7);
  backdrop-filter: blur(5px);
  font-weight: 550;
}

.second-page {
  background-color: #FFF796;
  min-height: 100vh;
}

.backgr{
  background-color: #FFF796;
  scroll-margin-top: 65px;
}

.my-size{
  width: 80vw;
  height: 80vh;
  background-color: white;

}

.white-letters{
  color: white;
  font-family: "Bookman Old Style", "Book Antiqua", "Courier New", sans-serif;
  font-size: 5vw;
  text-shadow:
    2px 0 black,
    0 -2px black,
    -2px 2px black,
    0 1px black;
}


@media (min-width: 577px) {
  .custom-adv-lg-size {
    width: 65%;
  }
}

@media (max-width: 576px) {
  .custom-adv-sm-size {
    width: 100%;
  }
}

.click-on-text{
  font-size: 2vw;
}

.price-page {
  background-image: url("https://foni.club/uploads/posts/2023-01/1673464718_foni-club-p-krutie-oboi-s-sobakami-na-telefon-24.jpg");
}

.prices-background {
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  opacity: 90%;
}

.prices-background h2{
  padding-top: 2%;
  text-align: center;
  font-family: "Book Antiqua", "Courier New", sans-serif;
}

.uready{
  color: white;
  font-family: "Bookman Old Style", "Book Antiqua", "Courier New", sans-serif;
  font-size: 3vw;
  text-shadow:
    2px 0 black,
    0 -2px black,
    -2px 2px black,
    0 1px black;
}

@media (min-width: 577px) {
  .custom-c-lg-size {
    width: 85%;
  }
}

@media (max-width: 576px) {
  .custom-c-sm-size {
    width: 100%;
  }
}


@media (min-width: 577px) {
  .custom-lg-tab-size {
    font-family: Georgia;
    font-size: 6vw;
  }
}

@media (max-width: 576px) {
  .custom-sm-tab-size {
    font-family: Georgia;
    font-size: 15vw;
  }
}


/*.second-page-body {*/
/*  width: 100vw;*/
/*  display: block;*/
/*  align-content: center;*/
/*}*/

/*.info {*/
/*  width: 80%;*/
/*  margin-right: auto;*/
/*  margin-left: auto;*/
/*  margin-top: 2%;*/
/*  background-color: white;*/
/*  border-radius: 10%;*/
/*  padding-bottom: 2%;*/
/*}*/

/*#about-us{*/
/*  padding-top: 4%;*/
/*  margin-left: 5%;*/
/*  margin-right: 5%;*/
/*  font-family: "Bookman Old Style", "Book Antiqua", "Courier New", sans-serif;*/
/*  font-size: 110%;*/
/*  text-align: justify;*/
/*}*/

/*#advantages {*/
/*  font-family: "Bookman Old Style", "Book Antiqua", "Courier New", sans-serif;*/
/*  text-align: center;*/
/*  margin-right: auto;*/
/*  margin-left: auto;*/
/*  margin-top:0%;*/
/*  margin-bottom:0%;*/
/*  font-size: 180%;*/
/*}*/

/*#list-of-advantages{*/
/*  margin-left: 20%;*/
/*  margin-right: 20%;*/
/*  padding: 0;*/
/*  border-width: 0;*/
/*}*/

/*.li-text{*/
/*  font-family: "Bookman Old Style", "Book Antiqua", "Courier New", sans-serif;*/
/*  font-size: 150%;*/
/*  margin: 0;*/
/*}*/

/*.li-text-desc{*/
/*  font-size: 100%;*/
/*  font-family: "Bookman Old Style", "Book Antiqua", "Courier New", sans-serif;*/
/*  font-style: oblique;*/
/*  margin: 2%;*/
/*}*/

/*.third-page {*/
/*  background: url("https://foni.club/uploads/posts/2023-01/1673464718_foni-club-p-krutie-oboi-s-sobakami-na-telefon-24.jpg");*/
/*  display: flex;*/
/*  min-height: 100vh;*/
/*}*/

/*.third-page-body {*/
/*  width: 100vw;*/
/*  display: block;*/
/*  align-content: center;*/
/*}*/

/*.prices-table{*/
/*  margin-left: auto;*/
/*  margin-right: auto;*/
/*  font-family: "Bookman Old Style", "Book Antiqua", "Courier New", sans-serif;*/
/*  font-size: 120%;*/
/*  text-align: center;*/
/*      border-collapse: collapse;*/
/*}*/

/*.prices-table td, .prices-table th{*/
/*  border: 4px solid #ddd;*/
/*  padding: 8px;*/
/*}*/

/*.prices-table tr:nth-child(even){*/
/*  background-color: #f2f2f2;*/
/*}*/

/*.prices-table tr:hover {*/
/*  background-color: #ddd;*/
/*}*/

/*.prices-background p{*/
/*  text-align: center;*/
/*  font-family: "Book Antiqua", "Courier New", sans-serif;*/
/*  font-size: 120%;*/
/*}*/

/*.fourth-page {*/
/*  background-color: #FFDF9B ;*/
/*  display: flex;*/
/*  min-height: 100vh;*/
/*}*/

/*.fourth-page-body {*/
/*  width: 100vw;*/
/*  display: block;*/
/*  align-content: center;*/
/*}*/

/*.apply {*/
/*  text-align: center;*/
/*  font-size: 500%;*/
/*  border-color: black;*/
/*  border-width: 4px;*/
/*  margin-bottom: 0;*/
/*  padding-top: 5%;*/
/*  padding-left: 5%;*/
/*  padding-right: 5%;*/
/*  color: white;*/
/*  text-shadow:*/
/*    2px 0 black,*/
/*    0 -2px black,*/
/*    -2px 2px black,*/
/*    0 1px black;*/
/*}*/

/*.apply-form{*/
/*  display: flex;*/
/*  font-family:"Bookman Old Style", "Book Antiqua", "Courier New", sans-serif;*/
/*}*/

/*.contacts{*/
/*  margin-left: 10%;*/
/*  margin-right: 2%;*/
/*  display: block;*/
/*}*/

/*.extra-form{*/
/*  padding-left: 2%;*/
/*  padding-right: 8%;*/
/*}*/

/*fieldset{*/
/*  margin: 2%;*/
/*}*/

/*input[type=text], select {*/
/*  width: 100%;*/
/*  padding: 12px 20px;*/
/*  margin: 8px 0;*/
/*  display: inline-block;*/
/*  border: 1px solid #ccc;*/
/*  border-radius: 4px;*/
/*  box-sizing: border-box;*/
/*}*/





a{
  color: black;
}

a:visited{
  color: saddlebrown;
}

a:hover{
  color: red;
}

.myfooter{
  background-color: saddlebrown;
}

.myfooter a{
  color: orangered;
}

.myfooter a:hover{
  color: yellow;
}
