.intro-left{
  min-height: 100vh;
  background: url("https://avatars.mds.yandex.net/i?id=a9c4a649c44fe45361f93e9a305bd765_l-5222263-images-thumbs&n=13");
}

.intro-right{
  min-height: 100vh;
  background: linear-gradient(#FBE5C8, #fffaf7, #fff7f2, #ffede5);
}

.photo-row {
  height: 33vh;
  padding-left: 0;
  padding-right: 0;
}


.large-letters{
  /*padding-left: 10%;*/
  /*padding-right: 10%;*/
  /*padding-top: 20%;*/
  margin-bottom: 0;
  color: white;
  /*font-size: 6vw;*/
  text-shadow: 5px 0 5px #156760,
  0 5px 5px #156760,
  5px 0 5px #156760,
  0 5px 5px #156760;
  font-family: "Book Antiqua", sans-serif;
}

@media (min-width: 577px) {
  .custom-lg-size {
    font-size: 6vw;
    padding-left: 10%;
  }
}

@media (max-width: 576px) {
  .custom-sm-size {
    font-size: 14vw;
    padding-left: 5%;
    padding-right: 7%;
  }
}

@media (min-width: 577px) {
  .custom-second-lg-size {
    font-size: 2vw;
    padding-left: 10%;
  }
}

@media (max-width: 576px) {
  .custom-second-sm-size {
    font-size: 5vw;
    padding-left: 5%;
    padding-right: 7%;
  }
}

@media (min-width: 577px) {
  .custom-btn-lg-size {
    font-size: 2.5vw;
  }
}

@media (max-width: 576px) {
  .custom-btn-sm-size {
    font-size: 6vw;

  }
}

.small-letters{
  padding-top: 4%;
  /*padding-left: 10%;*/
  /*font-size: 2vw;*/
  color: #156760;
  text-shadow:
    0.5px 0 black,
    0 -0.5px black,
    -0.5px 0 black,
    0 0.5px black;
}

.heart {
  display: inline;
  width: 4vw;
  height: auto;
}

#hello-dog{
  padding-top: 4vh;
  transform: rotate(10deg);
}

#hello-rabbit{
  transform: rotate(-10deg);
}

#hello-cat{
  transform: rotate(5deg);
}

.try-button{
  color: #555555;
  background-color: white;
  font-family: "Calibri Light";
  border-color: #156760;
}

.navbar{
  background-color: rgba(255,255,255,0.7);
  backdrop-filter: blur(5px);
  font-weight: 550;
}

.second-page {
  background-color: #FFF796;
  min-height: 100vh;
}

.backgr{
  background-color: #FFF796;
  scroll-margin-top: 65px;
}

.my-size{
  width: 80vw;
  height: 80vh;
  background-color: white;

}

.white-letters{
  color: white;
  font-family: "Bookman Old Style", "Book Antiqua", "Courier New", sans-serif;
  font-size: 5vw;
  text-shadow:
    2px 0 black,
    0 -2px black,
    -2px 2px black,
    0 1px black;
}


@media (min-width: 577px) {
  .custom-adv-lg-size {
    width: 65%;
  }
}

@media (max-width: 576px) {
  .custom-adv-sm-size {
    width: 100%;
  }
}

.click-on-text{
  font-size: 2vw;
}

.price-page {
  background-image: url("https://foni.club/uploads/posts/2023-01/1673464718_foni-club-p-krutie-oboi-s-sobakami-na-telefon-24.jpg");
}

.prices-background {
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  opacity: 90%;
}

.prices-background h2{
  padding-top: 2%;
  text-align: center;
  font-family: "Book Antiqua", "Courier New", sans-serif;
}

.uready{
  color: white;
  font-family: "Bookman Old Style", "Book Antiqua", "Courier New", sans-serif;
  font-size: 3vw;
  text-shadow:
    2px 0 black,
    0 -2px black,
    -2px 2px black,
    0 1px black;
}

@media (min-width: 577px) {
  .custom-c-lg-size {
    width: 85%;
  }
}

@media (max-width: 576px) {
  .custom-c-sm-size {
    width: 100%;
  }
}


@media (min-width: 577px) {
  .custom-lg-tab-size {
    font-family: Georgia;
    font-size: 6vw;
  }
}

@media (max-width: 576px) {
  .custom-sm-tab-size {
    font-family: Georgia;
    font-size: 15vw;
  }
}


a{
  color: black;
}

a:visited{
  color: saddlebrown;
}

a:hover{
  color: red;
}

.myfooter{
  background-color: saddlebrown;
}

.myfooter a{
  color: orangered;
}

.myfooter a:hover{
  color: yellow;
}


.task-form {
  display: flex;
}

.new-task {
  flex: 1 1 0%;
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  font-size: 1.25rem;
}

.submit-task{
  font-size: 1.25rem;
  border: none;
  font-weight: 700;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: 0.4s;
  background-image: linear-gradient(to right,var(--bs-yellow), var(--bs-orange));
}

.submit-task:hover{
  opacity: 0.8;
}

@media (max-width: 576px) {
  .custom-tasks-sm-size {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .custom-tasks-lg-size {
    width: 70vw;
  }
}

.task-list {
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
}

.task-list h2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.todo{
  background-color: #fff7f2;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.todo .list-content {
  flex: 1 1 0%;
}


.todo .list-content .todo-text{
  display: block;
  width: 100%;
  transition: 0.4s;
}

@media (min-width: 576px) {
  .custom-tasks-text-lg-size {
    font-size: 1.125rem;
  }
}

@media (max-width: 576px) {
  .custom-tasks-text-lg-size {
    font-size: 2vw;
    overflow-wrap: break-word
  }
}


.todo .todo-actions {
  display: flex;
  margin: 0 -0.5rem;
}

.todo input, button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

.todo .todo-actions button{
  cursor: pointer;
  margin: 0 0 0.5rem;
  font-size: 1.125rem;
  font-weight: 700;
}

.todo .todo-actions button:hover{
  opacity: 0.8;
}

.todo .todo-actions .todo-done{
  background-image: linear-gradient(to right,greenyellow, green);
  border-radius: 1rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.todo .todo-actions .todo-edit{
  background-image: linear-gradient(to right,orangered, orange);
  border-radius: 1rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.todo-text.editing {
  color: orangered;
  caret-color: black;
}

.todo-text.done{
  text-decoration: line-through;
  text-decoration-color: red;
}

.todo .todo-actions .todo-done.not-done {
  background-image: linear-gradient(to right,darkred, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 576px) {
  .custom-contactsForm-lg-size {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .custom-contactsForm-sm-size {
    width: 85%;
  }
}


.myForm input {
  /*display: block;*/
  width: 100%;
  font-size: 1.5rem;
  line-height: 28pt;
  margin-bottom: 28pt;
  border: none;
  border-bottom: 3px solid darkorange;
  background: white;
  min-width: 250px;
  padding-left: 5px;
  outline: none;
  color: rgba(0,0,0,1);
  border-radius: 1rem;
}

.myForm input:focus {
  /*border-bottom: 3px solid red;*/
}

.contact-submit {
  font-size: 1.5rem;
  width: 60%;
}

.hidden {
  display: none !important;
}


