.full-row{
  height: 100vh;
}

.intro-left{
  height: 100%;
  background: url("https://avatars.mds.yandex.net/i?id=67f029a21b29fb881094f276b6c6e639_l-5329796-images-thumbs&n=13");
}

.intro-right{
  height: 100%;
  background: linear-gradient(#FBE5C8, #fffaf7, #fff7f2, #ffede5);
}

.photo-row {
  height: 33%;
}

.img-height{
  max-height: 100%;
  width: auto;
}

.first-page {
  background-color: #FBE5C8;
  display: flex;
  min-height: 100vh;
}

.first-page-body {
   background-color: #B6E5D8;
   width: 60vw;
 }

/*.fullscreen-with-photo{*/
/*  background: url("https://i.pinimg.com/originals/5a/45/f2/5a45f2fed64e52329b1e2425eda9ba83.jpg") center/ cover no-repeat fixed;*/
/*}*/

.large-letters{
  padding-left: 10%;
  padding-top: 20%;
  margin-bottom: 0;
  color: white;
  font-size: 8vw;
  text-shadow: 5px 0 5px #156760,
  0 5px 5px #156760,
  5px 0 5px #156760,
  0 5px 5px #156760;
  font-family: "Book Antiqua", sans-serif;
}


.small-letters{
  padding-top: 4%;
  padding-left: 10%;
  font-size: 4vh;
  color: #156760;
  text-shadow:
    0.5px 0 black,
    0 -0.5px black,
    -0.5px 0 black,
    0 0.5px black;
}

.heart {
  display: inline;
  width: 8vh;
  height: auto;
}

#hello-dog{
  padding-top: 4vh;
  transform: rotate(10deg);
}

.photos{
  height: 100vh;
  width: 40vw;
  display: block;
  overflow: hidden;
}



#hello-rabbit{
  transform: rotate(-10deg);
}

#hello-cat{
  transform: rotate(5deg);
}

.contents {
  text-align: center;
  font-size: 400%;
  border-color: black;
  border-width: 4px;
  margin-bottom: 0;
  color: white;
  text-shadow:
    2px 0 black,
    0 -2px black,
    -2px 2px black,
    0 1px black;
}

.second-page {
  background-color: #FFFF8A;
  display: flex;
  min-height: 100vh;
}

.second-page-body {
  width: 100vw;
  display: block;
  align-content: center;
}

.info {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2%;
  background-color: white;
  border-radius: 10%;
  padding-bottom: 2%;
}

#about-us{
  padding-top: 4%;
  margin-left: 5%;
  margin-right: 5%;
  font-family: "Bookman Old Style", "Book Antiqua", "Courier New", sans-serif;
  font-size: 110%;
  text-align: justify;
}

#advantages {
  font-family: "Bookman Old Style", "Book Antiqua", "Courier New", sans-serif;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top:0%;
  margin-bottom:0%;
  font-size: 180%;
}

#list-of-advantages{
  margin-left: 20%;
  margin-right: 20%;
  padding: 0;
  border-width: 0;
}

.li-text{
  font-family: "Bookman Old Style", "Book Antiqua", "Courier New", sans-serif;
  font-size: 150%;
  margin: 0;
}

.li-text-desc{
  font-size: 100%;
  font-family: "Bookman Old Style", "Book Antiqua", "Courier New", sans-serif;
  font-style: oblique;
  margin: 2%;
}

.third-page {
  background: url("https://foni.club/uploads/posts/2023-01/1673464718_foni-club-p-krutie-oboi-s-sobakami-na-telefon-24.jpg");
  display: flex;
  min-height: 100vh;
}

.third-page-body {
  width: 100vw;
  display: block;
  align-content: center;
}

.prices-background {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2%;
  background-color: white;
  border-radius: 7%;
  padding-bottom: 2%;
  opacity: 90%;
}

.prices-background h2{
  padding-top: 2%;
  text-align: center;
  font-family: "Book Antiqua", "Courier New", sans-serif;
}

.prices-table{
  margin-left: auto;
  margin-right: auto;
  font-family: "Bookman Old Style", "Book Antiqua", "Courier New", sans-serif;
  font-size: 120%;
  text-align: center;
      border-collapse: collapse;
}

.prices-table td, .prices-table th{
  border: 4px solid #ddd;
  padding: 8px;
}

.prices-table tr:nth-child(even){
  background-color: #f2f2f2;
}

.prices-table tr:hover {
  background-color: #ddd;
}

.prices-background p{
  text-align: center;
  font-family: "Book Antiqua", "Courier New", sans-serif;
  font-size: 120%;
}

.fourth-page {
  background-color: #FFDF9B ;
  display: flex;
  min-height: 100vh;
}

.fourth-page-body {
  width: 100vw;
  display: block;
  align-content: center;
}

.apply {
  text-align: center;
  font-size: 500%;
  border-color: black;
  border-width: 4px;
  margin-bottom: 0;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  color: white;
  text-shadow:
    2px 0 black,
    0 -2px black,
    -2px 2px black,
    0 1px black;
}

.apply-form{
  display: flex;
  font-family:"Bookman Old Style", "Book Antiqua", "Courier New", sans-serif;
}

.contacts{
  margin-left: 10%;
  margin-right: 2%;
  display: block;
}

.extra-form{
  padding-left: 2%;
  padding-right: 8%;
}

fieldset{
  margin: 2%;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#submit-button{
  margin-top: 1%;
  margin-left: 10%;
  margin-right: auto;
  margin-bottom: 2%;
  width: 30%;
  background-color: #FFA840;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Book Antiqua";
  font-size: 160%;
}

#submit-button:hover{
  background-color: saddlebrown;
}

footer{
  background-color: chocolate;
  text-align: right;
  color: white;
  font-family: "Courier New";
}

footer img{
  padding-left: 10%;
  float: left;
}

footer p{
  padding: 10px;
  margin-top:0;
  margin-bottom:0;
}

#insta {
  display: inline;
  height: 10%;
  width: auto ;
}

a{
  color: black;
}

a:visited{
  color: saddlebrown;
}

a:hover{
  color: red;
}
